<div id="{{blog.id}}" class='offset-top'></div>
<mat-card>
  <mat-card-header>
    <mat-card-title matRipple>{{blog.title}}</mat-card-title>
    <mat-card-subtitle>{{blog.day.toDate() | date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      {{blog.content.split('\n')[0]}}...
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/post/{{blog.id}}">
      <mat-icon>more_horiz</mat-icon>
      Read more
    </a>
    <a mat-button routerLink="/post/{{blog.id}}">
      <mat-icon>insert_comment</mat-icon>
      Comment
    </a>
    <app-button-share-menu 
      [blogId]="blog.id"
      [iconRev]="'share'"
      [textRev]="'Share'"
      [isIcon]="true">
    </app-button-share-menu>
  </mat-card-actions>
</mat-card>