:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 65px - 83.5px);
}

.title {
  transition: 0.2s;
  font-size: 100px;
  margin-bottom: 2.5rem;
  color: #416275;
  letter-spacing: 12px;
  font-weight: bold;
  user-select: none;
}

.title:hover {
  text-shadow:
   -2px -2px 0 #416275,  
    2px -2px 0 #416275,
    -2px 2px 0 #416275,
     2px 2px 0 #416275;
  color: #fafafa;
  /* font-size: 96px; */
}

.subtitle {
  color: #416275;
}