<div class="login-wrapper">
  <div class="login-form mat-elevation-z5 center">
    <h1 class="mat-display-3 title">REGISTER</h1>
    <form action="" class="form">
      <mat-form-field>
        <input matInput placeholder="Email" [formControl]="email" required>
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [formControl]="password" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="password.invalid">{{getPassError()}}</mat-error>
      </mat-form-field>
      <div style="display: flex">
        <div class="spacer"></div>
        <button #btn mat-raised-button color="primary" (click)="register()" [disabled]="email.invalid || password.invalid || registerActive">Register</button>
      </div>
    </form>
  </div>
  <div class="carousel mat-elevation-z5">

  </div>
</div>