:host {
  display: block;
}

app-carousel {
  position: absolute;
}

.header-title {
  /* background-image: url('../../assets/images/ima2.jpg'); */
  min-height: 300px;
  /* position: relative; */
  /* width: 100vh; */
  background-color: #416275;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position-y: 100%;
}

.action {
  margin-top: 50px;
}

.header-title-inner {
  /* position: absolute; */
  /* z-index: 50; */
  width: 100%;
  top: 15px;
  text-align: center;
  margin-top: 9px;
  padding: 25px 0;
}

.mat-display-3 {
  font-weight: 300;
  margin-bottom: 1.5rem;
  color: white;
}

:host {
  display: block;
}

.slogan {
  letter-spacing: 2px;
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

@media only screen and (max-width: 600px) {
  .header-title {
    min-height: 392px;
  }
}