.comment-card-header-image {
  background-color: #416275;
}

.comment-card {
  box-shadow: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  background: transparent;
}