<div class="art-cover-name">
  <div class="art-cover-name--inner">
    <div class="image-wrapper mat-elevation-z5">
      <img src="assets/images/cover.jpg" alt="cover" class="art-image" width="150">
    </div>
  </div>
</div>
<div class="name-title mat-h1">Quang Huy</div>
<div class="content-wrapper">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Infomations">Infomations</mat-tab>
    <mat-tab label="Contact">Contact</mat-tab>
    <mat-tab label="GitHub Project">GitHub Project</mat-tab>
    <mat-tab label="Credit">Credit</mat-tab>
  </mat-tab-group>
</div>