.tree-item-button {
  width: 100%;
  text-align: left;
}

mat-form-field {
	width: calc(100% - 2rem);
	margin: 1rem 1rem 0rem 1rem;
}

mat-icon {
	cursor: pointer;
	user-select: none;
}

.search-result {
  list-style: none;
  top: 80px;
  position: absolute;
  overflow-x: hidden;
  width: 267px;
  background: white;
  left: 1rem;
}

.search-result a {
  overflow-x: hidden;
  width: 100%;
  text-align: left;
}