<div *ngIf="blog">
  <div class="title mat-h1">
    <div class="aaa">
      <div>{{blog.title}}</div>
      <div class="mat-subheading-1">{{blog.day.toDate() | date}}</div>
    </div>
    <div class="spacer"></div>
    <app-button-share-menu 
      [blogId]="blog.id" 
      class="right" 
      [iconRev]="'more_vert'"
      [textRev]="''">
    </app-button-share-menu>
  </div>
  <div class="content" *ngIf="!blog.isRichContent">
    <div *ngFor="let smallContent of blog.content.split('\n')" class="mat-h4">
      {{smallContent}}
      <div *ngIf="!smallContent" [style.height.rem]="1"></div>
    </div>
  </div>
  <div class="content mat-h4" *ngIf="blog.isRichContent" [innerHTML]="richContent">
    
  </div>
</div>
<app-comment-submit *ngIf="authService.isLoggedIn"></app-comment-submit>
<app-comment [comments]="comments"></app-comment>