:host {
  display: block;
  /* padding-top: 64px; */
}

.title {
  height: 80px;
  background-color: #416275;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-left: 1.5rem;
  flex-direction: column;
  padding-top: 1rem;
  flex-direction: row;
  align-items: center;
}

.content {
  margin: 1.5rem;
}

.center {
  display: flex; 
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.right {
  margin-right: 1rem;
  margin-bottom: 1rem;
}