:host {
  display: block;
  /* padding-top: 64px; */
}

.title {
  min-height: 80px;
  background-color: #416275;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-left: 1.5rem;
  flex-direction: column;
  padding-top: 1rem;
  flex-direction: row;
  align-items: center;
}

.content {
  margin: 1.5rem;
}

.center {
  display: flex; 
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.right {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.property-section {
  margin: 1.5rem;
  padding-top: 0 !important;
  border-top: 3px solid #416275;
}

.property-section-title {
  margin-right: 0.5rem;
  font-weight: bold;
}

.property-section-category-link {
  cursor: pointer;
}

.property-section-category-link:hover {
  text-decoration: underline;
}

.mat-subheader {
  margin-top: 1rem
}