<div *ngIf="blog">
  <div class="title mat-h1">
    <div class="aaa">
      <div>{{blog.title}}</div>
      <div class="mat-subheading-1">{{blog.day.toDate() | date}}</div>
    </div>
    <div class="spacer"></div>
    <app-button-share-menu 
      [blogId]="blog.id" 
      class="right" 
      [iconRev]="'more_vert'"
      [textRev]="''"
      [nextTitle]="name">
    </app-button-share-menu>
  </div>
  <div class="content" *ngIf="!blog.isRichContent">
    <div *ngFor="let smallContent of blog.content.split('\n')" class="mat-h4">
      {{smallContent}}
      <div *ngIf="!smallContent" [style.height.rem]="1"></div>
    </div>
  </div>
  <div 
      class="content markdown-body" 
      *ngIf="blog.isRichContent" 
      [innerHTML]="richContent | safeHtml"
      appHighlightCode>
  </div>
</div>
<mat-card class="property-section">
  <mat-list role="list">
    <h3 mat-subheader>Thông tin</h3>
    <mat-list-item role="listitem">
      <div class="property-section-title">Tags:</div>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of blog?.tags">{{tag}}</mat-chip>
        <mat-chip *ngIf="!blog?.tags">No tags</mat-chip>
      </mat-chip-list>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="property-section-title">Category:</div>
      <div class="property-section-category-link" routerLink="/category/{{category?.nameId}}/{{category?.id}}">{{category?.name}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Đăng bình luận</h3>
    <app-comment-submit *ngIf="authService.isLoggedIn"></app-comment-submit>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Bình luận</h3>
    <app-comment [comments]="comments"></app-comment>
  </mat-list>
</mat-card>