:host {
  display: block;
  /* padding-top: 64px; */
}

.title {
  min-height: 80px;
  background-color: #416275;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-left: 1.5rem;
  flex-direction: column;
  padding-top: 1rem;
  flex-direction: row;
  align-items: center;
}

.content {
  margin: 1.5rem;
}

.center {
  display: flex; 
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.right {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.property-section {
  margin: 1.5rem;
  padding-top: 0 !important;
  border-top: 3px solid #416275;
}

.property-section-title {
  margin-right: 0.5rem;
  font-weight: bold;
}

.property-section-category-link {
  cursor: pointer;
}

.property-section-category-link:hover {
  text-decoration: underline;
}

.mat-subheader {
  margin-top: 1rem
}

.chip-wrapper {
  min-height: 48px;
  height: auto;
}

.pagination-wrapper {
  display: flex;
  margin: 0 1.5rem;
  border-top: 1px solid;
  border-color: rgb(0, 0, 0, 0.12);
  padding-top: 0.5rem;
}

.pagination-wrapper .mat-button {
  line-height: 30px;
  max-width: 50%;
  overflow-x: hidden;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

.icon-prev {
  align-self: center;
  margin-right: 0.5rem;
  color: #416275;
}

.icon-next {
  align-self: center;
  margin-left: 0.5rem;
  color: #416275;
}

.subtitle {
  font-size: 15px;
  color: #416275;
}

.subtitle-left {
  text-align: left;
}

.subtitle-right {
  text-align: right;
}

.pag-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
  .pagination-wrapper {
    flex-direction: column;
  }
  .pagination-wrapper .mat-button {
    text-align: left !important;
  }
  .subtitle {
    text-align: left !important;
  }
  .pagination-next-sm {
    align-self: flex-end;
  }
  .pagination-prev-sm {
    align-self: flex-start;
  }
}