<app-navigation class="mat-elevation-z5" [snav]="snav" [isMobile]="mobileQuery.matches"></app-navigation>
<div class="wrapper">
  <app-header-title *ngIf='location.path().split("?")[0] === "/home"'></app-header-title>
  <mat-sidenav-container class="sidenav-container" [hasBackdrop]='false' [class.isMobile]="mobileQuery.matches">
    <mat-sidenav #snav opened="{{!hideSideBar}}" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches">
      <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>