:host {
  display: block;
}

app-navigation {
  z-index: 10;
}

.wrapper {
  display: block;
  padding-top: 64px;
}

mat-sidenav {
  min-width: 300px;
  max-width: 300px;
}

.isMobile mat-sidenav {
  margin-top: 75px;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    display: block;
    padding-top: 74px;
  }

  .mat-drawer-inner-container {
    position: initial;
    top: inherit;
  }
}

.mat-drawer-inner-container {
  /* height: auto; */
  position: sticky;
  top: 64px;
}

.mat-drawer-content {
  min-height: 77.5vh;
}