.right {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.comment-input-submit {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
}

.comment-card-header-image:host {
  width: 53px;
}

.comment-submit {
  margin-left: 1rem;
  width: 100%;
}

.comment-card-header-image {
  background-color: #416275;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0px;
}

.comment-section {
  height: 50px;
  resize: none;
}

mat-card {
  display: flex;
  flex-direction: column;
  border-top: 3px solid #416275;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  margin: 0 1.5rem 0.5rem 1.5rem;
}