mat-card {
  border-top: 3px solid #416275;
}

.offset-top {
  height: 65px;
  margin-top: -65px;
}

.mat-body-1 {
  line-height: 1.7;
}

mat-card-title {
  cursor: pointer;
  padding: 0.5rem;
  margin-left: -0.5rem;
  transition: 0.5s;
  font-weight: bold;
  margin-bottom: 0.2rem !important;
}

mat-card-title:hover {
  color: #416275;
}

mat-icon {
  font-size: 20px;
}

mat-form-field {
  width: 100% !important;
}

.chip-collections {
  margin-bottom: 0.5rem;
}