<div id="{{blog.id}}" class='offset-top'></div>
<mat-card>
  <mat-card-header>
    <mat-card-title matRipple routerLink="/post/{{nextTitle}}/{{blog.id}}" (click)="saveWindowPostision()">{{blog.title}}</mat-card-title>
    <mat-card-subtitle>
      <div class="chip-collections">
        <mat-chip-list>
          <mat-chip routerLink="/category/{{category?.nameId}}/{{category?.id}}" color="primary" selected>{{category?.name}}</mat-chip>
          <div *ngIf="blog?.tags">
            <mat-chip *ngFor="let tag of blog?.tags.slice(0, 3)">{{tag}}</mat-chip>
          </div>
          <mat-chip *ngIf="blog.tags?.length > 3">+{{blog.tags?.length - blog.tags.slice(0, 3)?.length}}</mat-chip>
          <mat-chip *ngIf="!blog.tags || !blog.tags.length">No tags</mat-chip>
        </mat-chip-list>
      </div>
      <div class="date-post">
        {{blog.day.toDate() | date}}
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="!blog.isRichContent">
      {{blog.content.split('\n')[0]}}...
    </div>
    <div *ngIf="blog.isRichContent">
      {{blog.previewMardown}}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/post/{{nextTitle}}/{{blog.id}}" (click)="saveWindowPostision()">
      <mat-icon>more_horiz</mat-icon>
      Read more
    </a>
    <a mat-button routerLink="/post/{{nextTitle}}/{{blog.id}}" (click)="saveWindowPostision()">
      <mat-icon>insert_comment</mat-icon>
      Comment
    </a>
    <app-button-share-menu 
      [blogId]="blog.id"
      [iconRev]="'share'"
      [textRev]="'Share'"
      [isIcon]="true"
      [nextTitle]="nextTitle">
    </app-button-share-menu>
  </mat-card-actions>
</mat-card>