<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="start">
      <button class="mobile-button" mat-icon-button (click)="snav.toggle()" *ngIf="isMobile"><mat-icon>menu</mat-icon></button>
      <a routerLink="/home" mat-button class="main-title">{{mainTitle}}</a>
    </div>
    <div class="end">
      <button mat-button [matMenuTriggerFor]="menu" matTooltip="Find me on the Internet">Find me</button>
      <mat-menu #menu="matMenu">
        <a *ngFor="let social of urlSocials" [attr.href]="social.url" target="_blank" mat-menu-item>
          <img [attr.src]="social.logo" alt="facebook logo" class="logo-menu">
          {{social.name}}
        </a>
      </mat-menu>
      <button *ngIf="!authService.isLoggedIn" mat-button routerLink="/login">Login</button>
      <button *ngIf="!authService.isLoggedIn" mat-button routerLink="/register">Register</button>
      <button *ngIf="authService.isLoggedIn" mat-flat-button [style.line-height.px]="30">{{authService.UserInfo().email.split('@')[0]}}</button>
      <button *ngIf="authService.isLoggedIn" mat-button (click)="authService.logout()">Logout</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>