<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="start">
      <button class="mobile-button" mat-icon-button (click)="snav.toggle()" *ngIf="isMobile"><mat-icon>menu</mat-icon></button>
      <a routerLink="/home" mat-button class="main-title">Quang Huy</a>
    </div>
    <div class="end">
      <a [attr.href]="facebookUrl" target="_blank" mat-button>Facebook</a>
      <a [attr.href]="instagramUrl" target="_blank" mat-button>Instagram</a>
      <a [attr.href]="twitterUrl" target="_blank" mat-button>Twitter</a>
      <a [attr.href]="wordpressUrl" target="_blank" mat-button>Wordpress</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>