<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="start">
      <button class="mobile-button" mat-icon-button (click)="snav.toggle()" *ngIf="isMobile"><mat-icon>menu</mat-icon></button>
      <a routerLink="/home" mat-button class="main-title">Quang Huy</a>
    </div>
    <div class="end">
      <button mat-button [matMenuTriggerFor]="menu">Social</button>
      <mat-menu #menu="matMenu">
        <a *ngFor="let social of urlSocials" [attr.href]="social.url" target="_blank" mat-menu-item>
          <img [attr.src]="social.logo" alt="facebook logo" class="logo-menu">
          {{social.name}}
        </a>
      </mat-menu>
      <button mat-button>Sign in</button>
      <button mat-button>Sign up</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>