app-blog {
  margin: 1rem;
}

.not-found {
  margin: 1rem;
}

.category-header {
  font-family: 'Roboto', sans-serif;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.category-name {
  color: #ffffff;
  font-size: 35px;
  font-weight: 350;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 1rem;
}

.category-des {
  text-align: center;
  line-height: 1.5;
  font-size: small;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
}