body {
  margin: 0 auto;
  height: 100vh;
}

app-root {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(61, 91, 109, 0.616);
  border-radius: 4px;
}

.mat-drawer, .mat-drawer-inner-container, .mat-drawer-container {
  overflow: initial !important;
}

@media only screen and (max-width: 600px) {
  .mat-drawer-inner-container {
    position: relative !important;
    top: 0 !important;
  }
}

.mat-drawer-inner-container {
  height: auto !important;
  position: sticky;
  top: 64px;
}

mat-tab-header {
  user-select: none !important;
}

mat-tab-body {
  padding: 1rem;
  /* height: 300px; */
}

.center {
  display: flex; 
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.carousel-wrapper .mat-tab-group {
  flex-direction: column-reverse;
}

.carousel-wrapper mat-tab-body {
  height: 300px;
  padding: 0;
}

.carousel-wrapper .mat-tab-header {
  z-index: 500;
  top: -30px;
}

.carousel-wrapper .mat-tab-label {
  background-color: red;
  opacity: 1;
  min-width: 15px !important;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: block;
  padding: 0;
}

.carousel-wrapper .mat-ink-bar {
  display: none;
}

.carousel-wrapper .mat-tab-nav-bar, .mat-tab-header {
  border-bottom: none !important;
}