.side-bar-content {
  display: flex;
  flex: 1 1 auto;
}

app-side-bar {
  display: block;
  min-width: 100px;
  padding: 1rem;
}

app-blog {
  padding: 1rem;
}

mat-spinner {
  margin: 1rem auto;
}

.sidenav-container {
  flex: 1;
}

:host {
  display: flex;
}