:host {
  display: block;
}

.header-title {
  height: 300px;
  background-color: #416275;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title-inner {
  text-align: center;
}

.mat-display-3 {
  font-weight: 300;
  margin-bottom: 1.5rem;
  color: white;
}

:host {
  display: block;
}

.slogan {
  letter-spacing: 2px;
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}